:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: light dark;
  color: #333;
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff6347;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff4500;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  color: #24292e;
  margin-bottom: 1rem;
}

button {
  border-radius: 5px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff6347;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #ff4500;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #24292e;
    background-color: #ffffff;
  }

  button {
    background-color: #ff6347;
  }
}
